[submodule "src/easy_handeye"]
	path = src/easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye.git
[submodule "src/aruco_ros"]
	path = src/aruco_ros
	url = https://github.com/pal-robotics/aruco_ros.git
