<launch>
    <arg name="namespace_prefix" default="galbot_left_arm_handeye_calibration" />
    <!-- <arg name="eye_on_hand" default="false" /> -->

    <!-- <arg name="camera_namespace" default="/camera/color" />
    <arg name="robot_ip" doc="The IP address of the UR10e robot" default="192.168.123.99" />

    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.016" />
    <arg name="square_size" doc="The ID of the ArUco marker used" default="0.024" />
    <arg name="square_number_x" default="7" />
    <arg name="square_number_y" default="9" /> -->

    <!-- start the realsense -->
    <!-- <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" >
        <arg name="color_height" value="1080" />
        <arg name="color_width" value="1920" />
        <arg name="color_fps" value="30" />
    </include> -->

    <!-- start ArUco -->
    <!-- <node name="easy_aruco_node" pkg="easy_aruco" type="easy_aruco_node">
        <param name="object_type" value="charuco_board" />

        <param name="camera_namespace" value="$(arg camera_namespace)" />
        <param name="dictionary" value="DICT_6X6_250" />

        <param name="camera_frame" value="camera_color_optical_frame" />
        <param name="reference_frame" value="camera_color_optical_frame" />

        <param name="marker_size" value="$(arg marker_size)" />
        <param name="square_size" value="$(arg square_size)" />
        <param name="square_number_x" value="$(arg square_number_x)" />
        <param name="square_number_y" value="$(arg square_number_y)" />
    </node> -->

    <!-- (start your tracking system's ROS driver)
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no" value="323522061013" />
        <arg name="color_width" value="1920" />
        <arg name="color_height" value="1080" />
        <arg name="color_fps" value="30" />
    </include>      -->

    <!-- launch the robot and the camera -->
    <include file="$(find galbot_bringup)/launch/galbot_bringup.launch" />

    <!-- launch aruco tracking system -->
    <arg name="markerId"        default="582"/>      <!-- set your marker id -->
    <arg name="markerSize"      default="0.1"/>    <!-- in m -->
    <arg name="eye"             default="left"/>
    <arg name="marker_frame"    default="aruco_marker_frame"/> 
    <arg name="ref_frame"       default=""/>  <!-- leave empty and the pose will be published wrt param parent_name -->
    <arg name="corner_refinement" default="LINES" /> <!-- NONE, HARRIS, LINES, SUBPIX -->    
    <arg name="camera_frame" default="camera_color_frame" />
    <arg name="camera_image_topic" default="/camera/color/image_raw" />
    <arg name="camera_info_topic" default="/camera/color/camera_info" /> 

    <node pkg="aruco_ros" type="single" name="aruco_single">
        <remap to="$(arg camera_info_topic)" from="/camera_info" />
        <remap to="$(arg camera_image_topic)" from="/image" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="marker_id"          value="$(arg markerId)"/>
        <param name="reference_frame"    value="$(arg ref_frame)"/>   <!-- frame in which the marker pose will be refered -->
        <param name="camera_frame"       value="$(arg camera_frame)"/>
        <param name="marker_frame"       value="$(arg marker_frame)" />
        <param name="corner_refinement"  value="$(arg corner_refinement)" />
    </node>

    <!-- start the robot (using https://github.com/UniversalRobots/Universal_Robots_ROS_Driver) -->
    <!-- <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="robot_ip" value="192.168.123.99" />
        <arg name="kinematics_config" value="$(find ur_calibration)/etc/ur10e_calibration.yaml" />
    </include> -->
    <!-- <include file="$(find galbot_bringup)/launch/galbot_bringup.launch"/> -->
    <!-- <include file="$(find rm_75_6f_moveit_config)/launch/moveit_planning_execution.launch" /> -->
    <!-- <include file="$(find rm_65_moveit_config)/launch/moveit_rviz.launch" >
        <arg name="rviz_config" value="$(find rm_65_moveit_config)/launch/moveit.rviz" />
    </include> -->

    <!-- start easy_handeye -->
    <include file="$(find easy_handeye)/launch/calibrate.launch" >
        <arg name="namespace_prefix" value="$(arg namespace_prefix)" />
        <arg name="eye_on_hand" value="true" />
        <arg name="tracking_base_frame" value="camera_link"/>
        <arg name="tracking_marker_frame" value="aruco_marker_frame"/>
        <arg name="robot_base_frame" value="base_link" />
        <arg name="robot_effector_frame" value="Link6" />
        <arg name="freehand_robot_movement" value="true" />
        <arg name="robot_velocity_scaling" value="0.5" />
        <arg name="robot_acceleration_scaling" value="0.2" />
        <arg name="translation_delta_meters" default="0.05"  />
        <arg name="rotation_delta_degrees" default="25"  />
    </include>

</launch>
